body{
  display: flex;
  justify-content: center;
}

.app{
  height: 600px;
  width: 1000px;
}

.map{
  height: 100%;
  width: 100%;
}


.marker{
  background-image: url('./images/map-marker.png');
  background-size: cover;
  width: 22px;
  height: 22px;
}

.dest-marker{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #185176;
}